PORT_EXPRESS=3001
MONGO_URI=mongodb://localhost:27017/sushi_bot
CLIENT_URL=http://localhost:5173
GOOGLE_API_KEY=your_google_api_key
GOOGLE_CX=your_google_cx
GMAIL_USER=your_google_email
GMAIL_PASS=your_google_password
OPENAI_API_KEY=your_openai_api_key
SERPAPI_API_KEY=your_serpapi_api_key
DEEPSEEK_BASE_URL=https://api.deepseek.com/v1
DEEPSEEK_OPENROUTER_API_KEY=your_openrouter_api_key    
DEEPSEEK_OPENROUTER_BASE_URL=https://openrouter.ai/api/v1